.sectionHeader {
    background-color: $colorTwo;
    background-image: url("../../assets/dots.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: bottom;
    transform: translateY(-2.5%);
    text-align: center;
    color: $colorSix;

    margin-top: 50px;
    height: 100vh;
    max-height: 1000px;

    @include flexCol;
    justify-content: center;

    .textContainer {
        @include flexCol;
        justify-content: center;

        h1 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            letter-spacing: 0.05 * $fontSizeBase;
        }
    }
    
    a {
        padding: calc(0.25 * $spacing);
    }
}