.header {
    // Background pattern styling
    background-color: $colorTwo;
    background-image: url("../../assets/dots.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 16px 26px;

    text-align: center;
    color: $colorSix;


    margin-top: 64px;
    height: calc(100vh - 64px);
    max-height: 1000px;

    @include flexCol;
    justify-content: center;

    .textContainer {
        @include flexCol;
        justify-content: center;

        h1 {
            margin: 0;
        }
        p {
            margin-top: 0;
            letter-spacing: 0.05 * $fontSizeBase;
        }
    }
    
    a {
        padding: calc(0.25 * $spacing);
        margin: 0 auto;
        height: clamp(1.5 * $fontSizeBase, 1.3662 * $fontSizeBase + 0.7643vw, 2.1 * $fontSizeBase);
        width: clamp(1.5 * $fontSizeBase, 1.3662 * $fontSizeBase + 0.7643vw, 2.1 * $fontSizeBase);
        border-radius: 50%;

        @include flexRow;
        justify-content: center;
        align-items: center;

        position: relative;

        &:hover {
            background-color: rgba($colorSix, $opacityLow);
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            border: 1px solid $colorSix;
            border-radius: 50%;

            &:last-of-type {
                animation: animationPulse 1.5s ease-out infinite;
            }
        }


    }
}