.sectionAbout {
    background-color: $colorWhite;
}

.sectionSkills {
    background-color: $colorTwo;
    color: $colorSix;

    text-align: center;

    .wrapper {
        @include flexCol;
    }

    .skillsList {
        @include flexRow;
        justify-content: center;
        flex-wrap: wrap;
    }

    .skillContainer {
        text-align: center;
        padding: $spacing;
    }

    i {
        font-size: 3 * $fontSizeBase;
    }
}

.sectionProjects {
    background-color: $colorSix;

    .projectList {
        @include flexCol;
        gap: $spacing;
    }

    .projectListItem {
        position: relative;
        
        background-color: $colorWhite;
        
        @include flexCol;
        align-items: flex-start;
        border: 1px solid $colorOne;

        .imageContainer {
            display: block;
            width: 100%;

            img {
                min-width: 300px;
            }
        }

        .projectTextContainer {
            padding: $spacing;
            h3 {
                margin-top: calc(0.25 * $spacing);
                margin-bottom: 0;
            }
            .projectSkills {
                color: $colorTwo
            }
            p:not(:last-child){
                margin: 0;
            }
        }

    }



    .projectOverlay {
        position: absolute;
        top: 0;
        left: 0;
    
        display: none;
        // display: flex;
        flex-direction: column;
        gap: $spacing;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 100%;
    
        padding: $spacing;
    
        background-color: rgba($color: #000000, $alpha: 0.6);

        h3, p {
            margin-bottom: 0;
            color: $colorSix;
        }
    }

}

.sectionContact {
    background-color: $colorThree;
}