.sectionAbout {
    background-color: $colorWhite;
}

.sectionSkills {
    background-color: $colorTwo;
    color: $colorSix;

    text-align: center;

    .wrapper {
        @include flexCol;
    }

    .skillList {
        @include flexRow;
        justify-content: center;
        flex-wrap: wrap;
    }

    .skillContainer {
        text-align: center;
        padding: $spacing;

        i {
            font-size: 3 * $fontSizeBase;
        }
    }

}

.sectionProjects {
    background-color: $colorSix;

    .projectList {
        @include flexCol;
        gap: $spacing;

        @include breakpointStyling ($mediumBreakpoint) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .projectListItem {
        position: relative;
        
        background-color: $colorWhite;
        border: 1px solid $colorOne;
        
        @include flexCol;
        justify-content: center;
        align-items: flex-start;

        // Two cards per row
        @include breakpointStyling ($mediumBreakpoint) {
            flex-basis: calc(50% - $spacing);
        }

        // One card per row
        // Rearrange textContainer and imageContainer horizontally
        @include breakpointStyling ($largeBreakpoint) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;

            img {
                max-height: 250px;
            }
        }

        .imageContainer {
            display: block;
        }

        .projectTextContainer {
            display: block;
            padding: $spacing;
            h3 {
                margin-top: calc(0.25 * $spacing);
                margin-bottom: 0;
            }
            .projectSkills {
                color: $colorTwo
            }
            p:not(:last-child){
                margin: 0;
            }
        }

    }

}

.sectionContact {
    background-color: $colorThree;

    color: $colorSix;

    text-align: center;
}