nav {
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 10;
    
    // Makes <nav> transparent to clicks
    // otherwise, the full-size nav will make everything unable to be interacted with, even when the <ol> is hidden, from: https: //stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements
    pointer-events: none;

    .navBar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        @include flexRow;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 64px;
        padding: calc(0.5*$spacing);
        padding-left: calc(0.75 * $spacing);
        background-color: $colorWhite;
        border-bottom: 2px solid $colorOne;

        h4 {
            pointer-events: auto;
            color: transparent;
            text-shadow: 0 0 0 $colorBlack;
        }

        // Hamburger Button Span Styling
        .hamburgerButton {
            margin: 0;
            padding: 0;
            width: calc(2 * $fontSizeBase);
            height: calc(2 * $fontSizeBase);
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.75 * $fontSizeBase;
    
            // Keeps button interactable to clicks
            pointer-events: auto;
            cursor: pointer;

            position: relative;

            // Default hamburger bars
            span {
                display: block;
                position: absolute;
                height: 4px;
                width: 80%;
                background: $colorBlack;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                top: 6px;
                }
                &:nth-child(2) {
                    top: 18px;
                }
                &:nth-child(3) {
                    top: 30px;
                }
            }

            // Down chevron
            &:hover {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    width: 50%;
                    top: 18px;
                    left: 0px;
                }
    
                span:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
    
                span:nth-child(3) {
                    transform: rotate(-45deg);
                    width: 50%;
                    top: 18px;
                    left: 12px;
                }
            }


        }
    }

    .navDropdown {
        position: relative;
        transform: translateY(-100%);
        
        width: 100%;
        height: calc(100% - 50px);

        // Keeps <ol> interactable to clicks
        pointer-events: auto;

        background-color: $colorFour;

        @include flexCol;
        justify-content: center;
        align-items: center;

        a {
            font-size: 2 * $fontSizeBase;

            &:hover {
                font-size: 2.5 * $fontSizeBase;
            }
        }
    }
}