* {
    transition-property: transform, opacity, font-size;
    transition-duration: 0.3s;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

section {
    padding-top: $spacing;
    padding-bottom: $spacing;
}

.wrapper {
    width: clamp(16rem, 90vw, 70rem);
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.button {
    background-color: $testSix;
    margin: 0;
    padding: calc(0.125 * $spacing) calc(0.5 * $spacing);
    border: 1px solid $colorBlack;
    
    font-weight: bold;

    &:hover {
        color: $testSix;
        background-color: $colorBlack;
        border: 1px solid $testSix;
    }
}

.horizontalLine {
    border: 1px solid $colorOne;
}