
// Manage dropdown visibility of navigational menu
// hamburgerDropdown.js
nav {
    .navDropdown {
        transform: translateY(-100%);
    }

    .navDropdownActive {
        transform: translateY(0%);
    }
}

.sectionProjects {
    .projectOverlay {
        display: none;
    }

    .projectOverlayActive {
        display: flex;
    }
}