// Mixins start with @mixin; call mixins with @include mixinName(argumentValue)
@mixin mixinName($parameter: "defaultParameterValue") {

}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

// Breakpoint Mixin
@mixin breakpointStyling ($breakpoint) {
    @if $breakpoint == large {
        @media only screen and (min-width: $largeBreakpoint) {
            @content;
        }
    }

    @else if $breakpoint == medium {
        @media only screen and (min-width: $mediumBreakpoint) {
            @content;
        }
    }

    @else if $breakpoint == small {
        @media only screen and (min-width: $smallBreakpoint) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: $breakpoint) {
            @content;
        }
    }

    ;
}