// Browser font size
html {
    font-size: 125%;
}

// Basic Typographical Styling
h1, h2, h3, h4 {
    margin: $spacing 0;
}

h1, h2, h3, h4, a, p {
    line-height: 1.6;
}

h1, h2 {
    font-family: $fontFamilyHeading;
}

h3, h4 {
    font-family: $fontFamilySubHeading;
}

h1 {
    font-weight: 700;
    // font-size: 2.3 * $fontSizeBase;
    font-size: clamp(2 * $fontSizeBase, 1.8662 * $fontSizeBase + 0.7643vw, 2.6 * $fontSizeBase);
}

h2 {
    font-weight: 600;
    // font-size: 1.8 * $fontSizeBase;
    font-size: clamp(1.5 * $fontSizeBase, 1.3662 * $fontSizeBase + 0.7643vw, 2.1 * $fontSizeBase);
}

h3 {
    font-weight: 500;
    // font-size: 1.2 * $fontSizeBase;
    font-size: clamp(1 * $fontSizeBase, 0.9108 * $fontSizeBase + 0.5096vw, 1.4 * $fontSizeBase);
}

h4 {
    font-weight: 400;
    // font-size: 1 * $fontSizeBase;
    font-size: clamp(0.9 * $fontSizeBase, 0.8554 * $fontSizeBase + 0.2548vw, 1.1 * $fontSizeBase);
}

a,
p {
    font-family: $fontFamilyBody;
    font-weight: 400;
    // font-size: 0.8 * $fontSizeBase;
    font-size: clamp(0.8 * $fontSizeBase, 0.7777 * $fontSizeBase + 0.1274vw, 0.9 * $fontSizeBase);
}

// Remove hyperlink underline
a {
    color: inherit;
    text-decoration: none;
}

// Remove numbering and bullets
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Class Styling
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}