// Fonts
$fontFamilyHeading: 'Plus Jakarta Sans', sans-serif;
$fontFamilySubHeading: 'Plus Jakarta Sans', sans-serif;
$fontFamilyBody: 'Plus Jakarta Sans', sans-serif;
$fontSizeBase: 1rem;

// Colours
$colorOne:#2F3E46;
$colorTwo: #354F52;
$colorThree: #52796F;
$colorFour: #84A98C;
$colorFive: #CAD2C5;
$colorSix: #F6FFF8;

$colorHighlight: #ffc3bb;

$colorBlack: #000;
$colorWhite: #FFF;

// Spacing, from https: //matthewjamestaylor.com/responsive-padding
$spacing: calc(8px + 1.5625vw);

// Opacities
$opacityLow: 0.25;
$opacityHigh: 0.9;

// Breakpoints
$largeBreakpoint: 1000px;
$mediumBreakpoint: 768px;
$smallBreakpoint: 500px;