// Variables start with a $
$variableName: "variablevalue";

// Fonts
$fontFamilyHeading: 'Montserrat', sans-serif;
$fontFamilySubHeading: 'Montserrat', sans-serif;
$fontFamilyBody: 'Catamaran', sans-serif;
$fontSizeBase: 1rem;

// Colours
$colorOne: #14080E;
$colorTwo: #365C46;
$colorThree: #B6CAA2;
$colorFour: #F8F4F3;
$colorFive: #F7E4DC;
$colorSix: #DB9999;

// Test Colours
$testOne: #167a39;
$testTwo: #e0ffae;
$testThree: #ffef85;
$testFour: #7aecff;
$testFive: #fff9ec;
$testSix: #ffc3bb;

// Padding, from https: //matthewjamestaylor.com/responsive-padding
$padding: calc(8px + 1.5625vw);