html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition-property: background-color, opacity, color, font-size, -webkit-transform;
  transition-property: background-color, opacity, color, font-size, -webkit-transform;
  transition-property: transform, background-color, opacity, color, font-size;
  transition-property: transform, background-color, opacity, color, font-size, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 64px;
}

section {
  padding-top: calc(8px + 1.5625vw);
  padding-bottom: calc(8px + 1.5625vw);
}

.wrapper {
  width: clamp(16rem, 90vw, 70rem);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  background-color: #ffc3bb;
  margin: 0;
  padding: calc(0.125 * (8px + 1.5625vw)) calc(0.5 * (8px + 1.5625vw));
  border: 1px solid #000;
  font-weight: bold;
}
.button:hover {
  color: #ffc3bb;
  background-color: #000;
  border: 1px solid #ffc3bb;
}

.horizontalLine {
  border: 1px solid #2F3E46;
}

html {
  font-size: 125%;
}

h1, h2, h3, h4 {
  margin: calc(8px + 1.5625vw) 0;
}

h1, h2, h3, h4, a, p {
  line-height: 1.6;
}

h1, h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h3, h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: clamp(2rem, 1.8662rem + 0.7643vw, 2.6rem);
}

h2 {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.3662rem + 0.7643vw, 2.1rem);
}

h3 {
  font-weight: 500;
  font-size: clamp(1rem, 0.9108rem + 0.5096vw, 1.4rem);
}

h4 {
  font-weight: 400;
  font-size: clamp(0.9rem, 0.8554rem + 0.2548vw, 1.1rem);
}

a,
p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(0.8rem, 0.7777rem + 0.1274vw, 0.9rem);
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
nav .navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 64px;
  padding: calc(0.5 * (8px + 1.5625vw));
  padding-left: calc(0.75 * (8px + 1.5625vw));
  background-color: #FFF;
  border-bottom: 2px solid #2F3E46;
}
nav .navBar h4 {
  pointer-events: auto;
  color: transparent;
  text-shadow: 0 0 0 #000;
}
nav .navBar .hamburgerButton {
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
}
nav .navBar .hamburgerButton span {
  display: block;
  position: absolute;
  height: 4px;
  width: 80%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
nav .navBar .hamburgerButton span:nth-child(1) {
  top: 6px;
}
nav .navBar .hamburgerButton span:nth-child(2) {
  top: 18px;
}
nav .navBar .hamburgerButton span:nth-child(3) {
  top: 30px;
}
nav .navBar .hamburgerButton:hover span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50%;
  top: 18px;
  left: 0px;
}
nav .navBar .hamburgerButton:hover span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
nav .navBar .hamburgerButton:hover span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 50%;
  top: 18px;
  left: 12px;
}
nav .navDropdown {
  position: relative;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  height: calc(100% - 50px);
  pointer-events: auto;
  background-color: #84A98C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navDropdown a {
  font-size: 2rem;
}
nav .navDropdown a:hover {
  font-size: 2.5rem;
}

.sectionHeader {
  background-color: #354F52;
  background-image: url("../../assets/dots.svg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: bottom;
  -webkit-transform: translateY(-2.5%);
          transform: translateY(-2.5%);
  text-align: center;
  color: #F6FFF8;
  margin-top: 50px;
  height: 100vh;
  max-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionHeader .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionHeader .textContainer h1 {
  margin-bottom: 0;
}
.sectionHeader .textContainer p {
  margin-top: 0;
  letter-spacing: 0.05rem;
}
.sectionHeader a {
  padding: calc(0.25 * (8px + 1.5625vw));
  margin: 0 auto;
  height: 36px;
  width: 36px;
  border: 2px solid #F6FFF8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionHeader a:hover {
  background-color: rgba(246, 255, 248, 0.25);
}

.sectionAbout {
  background-color: #FFF;
}

.sectionSkills {
  background-color: #354F52;
  color: #F6FFF8;
  text-align: center;
}
.sectionSkills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionSkills .skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sectionSkills .skillContainer {
  text-align: center;
  padding: calc(8px + 1.5625vw);
}
.sectionSkills i {
  font-size: 3rem;
}

.sectionProjects {
  background-color: #F6FFF8;
}
.sectionProjects .projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(8px + 1.5625vw);
}
@media only screen and (min-width: 768px) {
  .sectionProjects .projectList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.sectionProjects .projectListItem {
  position: relative;
  background-color: #FFF;
  border: 1px solid #2F3E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .sectionProjects .projectListItem {
    -ms-flex-preferred-size: calc(50% - (8px + 1.5625vw));
        flex-basis: calc(50% - (8px + 1.5625vw));
  }
}
@media only screen and (min-width: 1000px) {
  .sectionProjects .projectListItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sectionProjects .projectListItem img {
    max-height: 250px;
  }
}
.sectionProjects .projectListItem .imageContainer {
  display: block;
}
.sectionProjects .projectListItem .projectTextContainer {
  display: block;
  padding: calc(8px + 1.5625vw);
}
.sectionProjects .projectListItem .projectTextContainer h3 {
  margin-top: calc(0.25 * (8px + 1.5625vw));
  margin-bottom: 0;
}
.sectionProjects .projectListItem .projectTextContainer .projectSkills {
  color: #354F52;
}
.sectionProjects .projectListItem .projectTextContainer p:not(:last-child) {
  margin: 0;
}

.sectionContact {
  background-color: #52796F;
  color: #F6FFF8;
  text-align: center;
}

footer {
  background-color: #000;
  color: #F6FFF8;
  text-align: center;
}
footer p {
  margin: 0;
}

nav .hamburgerButton.hamburgerButtonActive span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 75%;
  top: 18px;
  left: 0px;
}
nav .hamburgerButton.hamburgerButtonActive span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
nav .hamburgerButton.hamburgerButtonActive span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 75%;
  top: 18px;
  left: 0px;
}
nav .hamburgerButton.hamburgerButtonActive:hover span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 50%;
  top: 18px;
  left: 0px;
}
nav .hamburgerButton.hamburgerButtonActive:hover span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
nav .hamburgerButton.hamburgerButtonActive:hover span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50%;
  top: 18px;
  left: 12px;
}
nav .navDropdownActive {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}